# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# IDE / Editor files
.vscode/
.idea/
*.swp
*.bak
*~

.DS_Store
Thumbs.db

# Build artifacts & scratch
compile_commands.json
scratch/
